*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,
body {
   box-sizing: inherit;
   height: 100%;
}

body {
   font-family: 'Arial', sans-serif;
   line-height: 1.5;
   background-color: #2B2B2B;
}

img {
   display: block;
   width: 100%;
}

.container {
   max-width: 1060px;
   width: 100%;
   margin: 0 auto;
   padding: 0 10px;
}

.header-img {
   width: 244px;
   height: 32px;
}

.header {
   margin-top: 30px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header-right {
   width: 55%;
   display: flex;
   justify-content: space-between;
}

.header-right-ul {
   width: 65%;
   list-style-type: none;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header-right-ul-li-a {
   text-decoration: none;
   color: white;
   font-size: 16px;
   font-family: Work Sans;
   font-weight: 600;
   line-height: 22.40px;
}

.header-right-button {
   color: white;
   font-size: 16px;
   font-family: Work Sans;
   font-weight: 600;
   line-height: 22.40px;
   width: 152px;
   height: 60px;
   background-color: #A259FF;
   border-radius: 20px;
   border: none;
}

.hero {
   margin-top: 80px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.hero-left-h1 {
   color: white;
   font-size: 67px;
   font-family: Work Sans;
   font-weight: 600;
   text-transform: capitalize;
   line-height: 73.70px;
}

.hero-left-p {
   color: white;
   font-size: 22px;
   font-family: Work Sans;
   font-weight: 400;
   text-transform: capitalize;
   line-height: 35.20px;
   margin-top: 20px;
}

.hero-left-button {
   color: white;
   font-size: 16px;
   font-family: Work Sans;
   font-weight: 600;
   line-height: 22.40px;
   background-color: #A259FF;
   width: 224px;
   height: 60px;
   border-radius: 20px;
   border: none;
   margin-top: 30px;
}

.hero-left-ul {
   list-style-type: none;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 30px;
}

.hero-left-ul-li {
   color: white;
   font-size: 23.99px;
   font-family: Work Sans;
   font-weight: 400;
   text-transform: capitalize;
   line-height: 38.38px;
}

.hero-left-ul-li-h3 {
   color: white;
   font-size: 28px;
   font-family: Space Mono;
   font-weight: 700;
   text-transform: capitalize;
   line-height: 39.20px;
}

.hero-right {
   width: 510px;
   height: 510px;
   background-color: #3B3B3B;
   border-radius: 20px;
}

.hero-right-p {
   color: white;
   font-size: 22px;
   font-family: Work Sans;
   font-weight: 600;
   text-transform: capitalize;
   line-height: 30.80px;
   margin-top: 20px;
   margin-left: 20px;
}

.hero-right-bottom-small {
   color: white;
   font-size: 16px;
   font-family: Work Sans;
   font-weight: 400;
   line-height: 22.40px;
   margin-left: 20px;
}

.hero-right-bottom-img {
   width: 24px;
   height: 24px;

}

.hero-right-bottom {
   display: flex;
   align-items: center;
   margin-left: 20px;
   margin-top: 10px;
}

.trending-top {
   margin-top: 160px;
}

.trending-top-h2 {
   color: white;
   font-size: 38px;
   font-family: Work Sans;
   font-weight: 600;
   text-transform: capitalize;
   line-height: 45.60px;
}

.trending-top-p {
   color: white;
   font-size: 22px;
   font-family: Work Sans;
   font-weight: 400;
   text-transform: capitalize;
   line-height: 35.20px;
   margin-top: 10px;
}

.trending-cards {
   margin-top: 60px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.trending-cards-box-img {
   width: 330px;
   height: 330px;
}

.trending-cards-box-center-img {
   width: 100px;
   height: 100px;
}

.trending-cards-box-bottom-bottom-img {
   width: 24px;
   height: 24px;
}

.trending-cards-box {
   width: 330px;
}

.trending-cards-box-center {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 15px;
}

.trending-cards-box-bottom {
   margin-top: 15px;
}

.trending-cards-box-bottom-bottom {
   display: flex;
   align-items: center;
   margin-top: 10px;
}

.trending-cards-box-bottom-h3 {
   color: white;
   font-size: 22px;
   font-family: Work Sans;
   font-weight: 600;
   text-transform: capitalize;
   line-height: 30.80px;
}

.trending-cards-box-bottom-bottom-span {
   color: white;
   font-size: 16px;
   font-family: Work Sans;
   font-weight: 400;
   line-height: 22.40px;
   margin-left: 12px;
}

.trending-cards-box-center-box-h3 {
   color: white;
   font-size: 22px;
   font-family: Space Mono;
   font-weight: 700;
   text-transform: capitalize;
   line-height: 35.20px;
}

.trending-cards-box-center-box {
   background-color: #A259FF;
   width: 100px;
   height: 100px;
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.creators-top {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 160px;
}

.creators-top-button {
   color: white;
   font-size: 16px;
   font-family: Work Sans;
   font-weight: 600;
   line-height: 22.40px;
   background-color: transparent;
   border: 2px solid #A259FF;
   width: 247px;
   height: 60px;
   border-radius: 20px;
   padding-left: 40px;
   padding-right: 40px;
}

.creators-top-icon {
   margin-right: 10px;
   color: #A259FF;
   transform: scale(1.5);
}

.creators-cards-box {
   width: 240px;
   height: 238px;
   background-color: #3B3B3B;
   border-radius: 20px;
   padding: 20px;
   margin-top: 30px;
}

.creators-cards-box-top {
   width: 30px;
   height: 30px;
   border-radius: 50%;
   background-color: #2B2B2B;
   display: flex;
   justify-content: center;
   align-items: center;
}

.creators-cards-box-top-h3 {
   color: #858584;
   font-size: 16px;
   font-family: Space Mono;
   font-weight: 400;
   line-height: 22.40px;
}

.creators-cards-box-img {
   width: 120px;
   height: 120px;
   margin-left: 15px;
}

.creators-cards-box-top-1 {
   display: flex;
}

.creators-cards-box-h3 {
   color: white;
   font-size: 22px;
   font-family: Work Sans;
   font-weight: 600;
   text-transform: capitalize;
   line-height: 30.80px;
   margin-top: 20px;
   text-align: center;
}

.creators-cards-box-bottom {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 5px;
}

.creators-cards-box-bottom-p {
   color: #858584;
   font-size: 16px;
   font-family: Work Sans;
   font-weight: 400;
   line-height: 22.40px;
}

.creators-cards-box-bottom-span {
   color: white;
   font-size: 16px;
   font-family: Space Mono;
   font-weight: 400;
   line-height: 22.40px;
   margin-left: 10px;
}

.creators-cards {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-top: 30px;
}
.categories{
margin-top: 80px;
}
.categories-h2{
   color: white;
font-size: 38px;
font-family: Work Sans;
font-weight: 600;
text-transform: capitalize;
line-height: 45.60px;
margin-top: 80px;
}
.categories-cards{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   margin-top: 30px;
}
.categories-cards-box{
   width: 240px;
   height: 316px;
   background-color: #3B3B3B;
   border-radius: 20px;
   margin-top: 30px;
}
.categories-cards-box-img{
   width: 240px;
   height: 240px;
}
.categories-cards-box-p{
   color: white;
font-size: 22px;
font-family: Work Sans;
font-weight: 600;
text-transform: capitalize;
line-height: 30.80px;
margin: 20px 30px;
}
.discover{
   margin-top: 80px;
}
.discover-h2{
   color: white;
font-size: 38px;
font-family: Work Sans;
font-weight: 600;
text-transform: capitalize;
line-height: 45.60px;
margin-top: 80px;
}
.discover-top{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.discover-top-p{
   color: white;
font-size: 22px;
font-family: Work Sans;
font-weight: 400;
text-transform: capitalize;
line-height: 35.20px;
}
.discover-top-button{
   color: white;
font-size: 16px;
font-family: Work Sans;
font-weight: 600;
line-height: 22.40px;
width: 187px;
height: 60px;
border: 2px solid #A259FF;
background-color: transparent;
border-radius: 20px;
}
.discover-cards{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 60px;
}
.discover-cards-box{
   width: 330px;
   height: 460px;
   background-color: #858584;
   border-radius: 20px;
}
.discover-cards-box-img{
   width: 330px;
   gap: 296px;
}
.discover-cards-box-bottom{
   padding: 20px 30px;
   background-color: #424240;
}
.discover-cards-box-bottom-h3{
   color: white;
font-size: 22px;
font-family: Work Sans;
font-weight: 600;
text-transform: capitalize;
line-height: 30.80px;
}
.discover-cards-box-bottom-top{
   display: flex;
   align-items: center;
}
.discover-cards-box-bottom-top-img{
   width: 24px;
   height: 24px;
}
.discover-cards-box-bottom-top-p{
   color: white;
font-size: 16px;
font-family: Space Mono;
font-weight: 400;
line-height: 22.40px;
margin-left: 12px;
}
.discover-cards-box-bottom-bottom{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 25px;
}
.discover-cards-box-bottom-bottom-left-small{
   color: #858584;
font-size: 12px;
font-family: Space Mono;
font-weight: 400;
line-height: 13.20px;
}
.discover-cards-box-bottom-bottom-left-p{
   color: white;
font-size: 16px;
font-family: Space Mono;
font-weight: 400;
line-height: 22.40px;
}
.magic{
   margin-top: 80px;
   background: -webkit-linear-gradient(180deg, rgb(207, 154, 201), rgb(132, 82, 182));
background: -moz-linear-gradient(180deg, rgb(207, 154, 201), rgb(132, 82, 182));
background: linear-gradient(180deg, rgb(207, 154, 201), rgb(132, 82, 182));
}
.magic-siction{
  margin-bottom: 60px
}
.magic-top-top{
   padding: 180px;
}
.magic-top{
   width: 151px;
   height: 44px;
   background-color: #2B2B2B;
   padding: 10px 20px;
   border-radius: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.magic-top-img{
   width: 24px;
   height: 24px;
}
.magic-top-p{
   color: white;
font-size: 16px;
font-family: Work Sans;
font-weight: 400;
line-height: 22.40px;
}
.magic-h2{
   color: white;
font-size: 51px;
font-family: Work Sans;
font-weight: 600;
text-transform: capitalize;
line-height: 56.10px;
margin-top: 30px;
}
.magic-bottom-left-button{
   background-color: white;
   color: #2B2B2B;
font-size: 16px;
font-family: Work Sans;
font-weight: 600;
line-height: 22.40px;
border: none;
padding: 22px 50px;
border-radius: 20px;
width: 198px;
height: 60px;
margin-top: 30px;
margin-bottom: 60px;
}
.magic-bottom{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.magic-card{
   width: 295px;
   height: 147px;
   border-radius: 20px;
   background-color: #6d3cad7e;
   padding: 30px;
}
.magic-card-ul{
   list-style-type: none;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.magic-card-p{
   color: white;
font-size: 12px;
font-family: Space Mono;
font-weight: 400;
line-height: 13.20px;
}
.magic-card-ul-li-h2{
   color: white;
font-size: 38px;
font-family: Space Mono;
font-weight: 700;
text-transform: capitalize;
line-height: 45.60px;
margin-top: 10px;
}
.magic-card-ul-li-p{
   color: white;
font-size: 12px;
font-family: Space Mono;
font-weight: 400;
line-height: 13.20px;
margin-top: 5px;
}
.magic-card-ul-p{
   color: white;
font-size: 28px;
font-family: Space Mono;
font-weight: 700;
text-transform: capitalize;
line-height: 39.20px;
}
.work-h2{
   color: white;
font-size: 38px;
font-family: Work Sans;
font-weight: 600;
text-transform: capitalize;
line-height: 45.60px;
margin-top: 80px;
}
.work-p{
   color: white;
font-size: 22px;
font-family: Work Sans;
font-weight: 400;
text-transform: capitalize;
line-height: 35.20px;
margin-top: 10px;
}
.work-cards{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.work-cards-box{
   width: 330px;
   height: 439px;
   border-radius: 20px;
   background-color: #3B3B3B;
   padding: 10px 30px;
   margin-top: 48px;
}
.work-cards-box-img{
   width: 250px;
   height: 250px;
}
.work-cards-box-h3{
   color: white;
font-size: 22px;
font-family: Work Sans;
font-weight: 600;
text-transform: capitalize;
line-height: 30.80px;
text-align: center;
margin-top: 20px;
}
.work-cards-box-p{
   color: white;
font-size: 16px;
font-family: Work Sans;
font-weight: 400;
line-height: 22.40px;
margin-top: 10px;
text-align: center;
}